i{
    color: #fff;
    padding-right:20px ;
}


.image{
   width: 70%;
   text-align: center;
}

#list{
    padding-top: 110px;
}

#ia{
    margin-left: 80px;
    color:darkred;
    font-weight:bold;
    font-family:'Times New Roman', Times, serif;
}
/*#dv{
    background-image: url("../photos/sanaa.jpg");
    padding-bottom: 15%
}*/

body{
    background-image: url("../photos/sanaa.jpg");
}

#sanaa {
    font-family: 'Courier New', monospace;
    position: relative;
}

h1{
    font-family: 'Courier New', monospace;
    color: brown; 
    text-align: center;
}


#sanaab{
    position: absolute;
    right: 20px;
    bottom: 10px;

}

#cm{
    margin-left: 20px;
    color: brown;
}

#comment{
    margin: 30px;
}

#bt{
    margin-left: 30px;
}